<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Axilweb">
    <meta name="description" content="Himon Studio - Thiết kế website chuyên nghiệp">
    <meta name="keywords" content="digital agency, seo agency, digital marketing">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Himon Studio - Thiết kế website chuyên nghiệp</title>
    <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="assets/css/miniline.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="assets/css/cynic.css">
    <link rel="stylesheet" type="text/css" href="assets/css/cynic-responsive.css">
</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg align-items-center">
                <a class="navbar-brand" href="index-2.html">
                    <img src="assets/images/logo.png" style="width: 25px; border-radius: 50%" alt="Cynic brand logo">
                    <img src="assets/images/brand-logo.png" alt="Cynic brand logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#custom-navbar"
                    aria-controls="custom-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="custom-toggler-icon"></span>
                    <span class="custom-toggler-icon"></span>
                    <span class="custom-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="custom-navbar">
                    <ul class="navbar-nav ml-auto align-items-center">
                        <li class="nav-item">
                            <a href="#cynic-services" class="nav-link page-scroll">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#cynic-about" class="nav-link page-scroll">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a href="#cynic-projects" class="nav-link page-scroll">Dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#cynic-team" class="nav-link page-scroll">Kho giao diện</a>
                        </li>
                        <li class="nav-item">
                            <a href="#cynic-pricing" class="nav-link page-scroll">Bảng giá</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="custom-btn btn-small" data-toggle="modal" data-target="#quote-modal">Liên
                                hệ</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>